<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ReplyMapper">
	<select id="selectAll" resultType="ReplyDTO"
		parameterType="Hashmap">
		SELECT * FROM reply
		WHERE boardId = #{boardId}
	</select>
	<select id="insert" parameterType="ReplyDTO">
		INSERT INTO
		reply(writerId,boardId,content)
		VALUES(#{writerId},#{boardId},#{content})
	</select>
	<select id="delete" parameterType="int">
		DELETE FROM reply
		WHERE id =
		#{id}
	</select>
	<select id="update" parameterType="ReplyDTO">
		UPDATE reply SET content =
		#{content}
		WHERE id = #{id}
	</select>
</mapper>